
@{
    ViewData["Title"] = "Add";
}

@model UserSignup.ViewModels.AddUserViewModel

<style>
    .field-validation-error {
        color: red;
    }
</style>

<h2>Register</h2>

<form asp-controller="User" asp-action="Add" method="post">

    <div class="form-group">

        <label asp-for="Username">Username:</label>
        <input class="form-control" asp-for="Username" style="width:200px" />
        <span asp-validation-for="Username"></span><br />

        <label asp-for="Email">E-mail: </label>
        <input class="form-control" asp-for="Email" style="width:200px" />
        <span asp-validation-for="Email"></span><br />

        <label asp-for="Password">Password: </label>
        <input class="form-control" asp-for="Password" style="width:200px" />
        <span asp-validation-for="Password"></span><br />

        <label asp-for="Verify">Verify password: </label>
        <input class="form-control" asp-for="Verify" style="width:200px" />
        <span asp-validation-for="Verify"></span><br />
    </div>

    <input type="submit" value="Register" />

</form>
