@{
    ViewData["Title"] = "Add Cheese";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CheeseMVC.ViewModels.AddCheeseViewModel

<style>
    .field-validation-error{
        color:red;
    }
</style>
<h2>Add a cheese...</h2>

<form asp-controller = "Cheese" asp-action = "Add" method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" style="width:150px"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Info">Enter a description for the cheese:</label>
        <input class="form-control" asp-for="Info" style="width:300px"/>
        <span asp-validation-for="Info"></span>
    </div>

    <input type="submit" value="Add Cheese" />

</form>