
@{
    ViewData["Title"] = "Edit Cheese";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Cheese

<h2>Edit Cheese "@Model.Name" (id=@Model.CheeseId).</h2>

<form method="post">

    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="name" id="name" type="text" value="@Model.Name" style="width:150px"/>
    </div>
    <div class="form-group">
        <label for="info"><h3>Enter cheese description here:</h3></label>
        <input class="form-control" name="info" id="info" type="text" value="@Model.Info" style="width:300px"/>
    </div>
    <div class="form-group">
        <label asp-for="Rating">Please rank the cheese (1-5):</label>
        <input class="form-control" asp-for="Rating" style="width:75px" />
    </div>
    <div class="form-group">
        <input type="hidden" value="@Model.CheeseId" name="id" />
    </div>

    <input type="submit" value="Edit Cheese" />

</form>